div.controls{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: aquamarine;
    padding: 10px;
    gap: 20px
}

div.controls > button{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50;
    border-radius: 7px;
}

.scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    font-weight: bold;
    margin: auto;
}

.name,
.score {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.name{
    border-bottom: 2px solid #ddd;
    
}
.display{
    text-align: center;
    font-size: 20px;
}